{% extends 'projomania_pages/projomania_base.html' %}

{% load static %}
{% block page_title %}
    Log in
{% endblock %}
{% block navbar %}
<style>
    body{
        background: white !important;
        min-height: 100vh;
    }
    </style>
{% endblock navbar %}
{% block content %}
<br>
<br>
<div class="pt-5"></div>
{% if not request.user.is_authenticated %}
<div class="container loginForm"  style=" margin-top:80px;">
<div class="row">
<div class="col-sm-3 links">
    <a href="#" class='active'>Sign In</a>
    <br>
    <a href="#">Sign up</a>
    
    </div>
  <div class="col-sm-2 special">
      <span>
          <div id="loginpic" class='center formback'>
              <a href="{% url 'homepage' %}"><img  src="{% static 'images/logoicon.png' %}" alt="logo icon"></a>
             
          </div>
      </span>
  </div>
    
<div class="col-sm-6 login">
      <form  method="POST">
    {% csrf_token %}
  
        <h4>Members Login:</h4>
        
        <div class="username">
        <input type="text" name="username" placeholder="Username"  required id="id_username">
        <span><i class="icon fas fa-user"></i></span>
        </div>
        <div class="password">
        <input type="password" name="password"  placeholder="Password" required id="id_password"> 
        <span><i class="icon fas fa-lock"></i></span>
        </div>
          {% if invalid %}
          <div class="alert alert-danger" role="alert">
            Invalid username or password
        </div>

    
    {% endif %}
        <div style="display:inline-flex;" class="form-check form-switch">
        <input style="padding-left:0;" class="form-check-input" type="checkbox" value="" id="flexSwitchCheckChecked">
        <label class="form-check-label" for="flexSwitchCheckChecked">
        Remember me
    </label>
    <br>
        <div class="row">
            <button class="btn btn-primary center" id="logsubmit" type="submit">Login</button>
        </div>
  
    </div>
        <hr>
        <a href="/register"><i class="fas fa-user-plus"></i> Don't have an account?</a> <br> <a href="#"><i class="fas fa-key"></i> Forget Password!</a>
        </div>
        
    </form>
</div>
</div>
<form action="" method="post">
   
</form>

{% else %}
<div style="margin-top:150px;"></div>
<div class="container already-loged">
<div class="row center">
<a href="/user/" id="user-icon"><p ><i class="fas fa-user"></i></p></a>

</div>
<div class="row logged-out">
<h3><p>You already login You want to logout ?</p></h3>
<a class="btn btn-success" href="/logout/">logout <i class="fas fa-sign-out-alt"></i></a>
</div>
<div class="row">

</div>

</div>
<div style="margin-top:150px;"></div>




{% endif %}
<br>
{% endblock content %}