{% extends 'projomania_pages/projomania_base.html' %}
{% load static %}

{% block page_title %}
Odoo Database Migration
{% endblock %}

{% block moreheader %}
 <link type="text/css" rel="stylesheet" href="{% static 'css/web.assets_common.css' %}"/>
 <link type="text/css" rel="stylesheet" href="{% static 'css/web.assets_frontend.css' %}"/>
 <link href="{% static 'css/navbar.css' %}" rel='stylesheet' type='text/css'/>
 {% endblock moreheader %}


{% block content %}
 <div id="wrap" >

      <section class="s_text_block pt32 pb32" data-name="Text block" style="">
      <div class="container" id="db-migration">
        <div class="row row-full" id="img-back" style="background-image:url('{% static 'images/test' %}');">
          <div class="col-sm-1"></div>
          <div class="col-sm-6"> 
          <h1 style="font-size:60px;font-family: cairo,sans-serif;">Database Migration</h1>
          <h2  style="  float: right;  font-size: 38px;font-weight: 10;font-family: cairo,sans-serif;opacity: 60%;">Upgrade to the most recent version of Odoo in a few days with no data loss. <br><br> Empower your future decisions with reports of the historical data in one place.</h2>
          
          </div>

          
        
        
        </div>
          <div class="row">
            <div class="col-lg-12 pt32 pb32">
              <h3>Why migrate to Odoo?</h3>
              <p>If you are already using an old Odoo version, you will know that new version comes each year with new smart features to enable your business to grow by keeping your customers satisfied.</p>
              <p>By migrating to a newer version of Odoo, you will be able to focus on productivity and keep the routines for a smart app to automate and manage.</p>
              <p>New Odoo versions are easier to support than older versions by the community and also are easier to get more new modules from App store.</p>
              <h3>Why hire us for migration projects?</h3>
              <p>We are a team of experts who really knows how Odoo is working and understand the relations among the data tables.</p>
              <p>We understand the value of your data so we care about accuracy and keeping it secret. Your data will be used for the migration purposes only.</p>
              <p>We can scale. The Database size doesn't matter as long as we can migrate it accurately.</p>
              <p>We are a flexible team who can work on different timezones. In addition to have good communication skills that helps with understanding the requirements.</p>
              <h3>What are other Database migration we offer?</h3>
              <p>Odoo is our main focus because of its growth around the world and high demand on the migration. But we can also help with migrations like Magento to Odoo, Magento to Magento and Odoo to Magento.</p>
              <p>We are working on adding more skills to the team to handle more Database engines regardless the App on it.</p>
              <div class="s_btn text-center pt16 pb16" data-name="Button">
                <button id='demo'>watch demo</button>
                <a href="https://bit.ly/2QPZbuL" class="btn btn-primary" data-original-title="" title="" aria-describedby="tooltip99178" target="_blank" style="animation-name: o_anim_flip_in_y; visibility: visible; animation-play-state: paused;">Watch a demo</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="steps">
       <section class="s_features pt32 pb32" data-name="Features">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 pt32 pb32 text-center">
              <span class="fa fa-3x bg-gamma m-3 fa-dashboard rounded-circle" data-original-title="" title="" aria-describedby="tooltip105997"></span>
              <h3>Do it fast!&nbsp;</h3>
              <p>Everything is totally automated.</p>
              <p>Only testing takes time.</p>
            </div>
            <div class="col-lg-4 pt32 pb32 text-center">
              <span class="fa fa-3x rounded bg-epsilon m-3 fa-check" data-original-title="" title="" aria-describedby="tooltip487115"></span>
              <h3>Do it right!</h3>
              <p>The accuracy is the most important value we can offer.</p>
            </div>
            <div class="col-lg-4 pt32 pb32 text-center">
              <span class="fa fa-3x rounded-leaf bg-primary m-3 fa-clock-o"></span>
              <h3>Life-time support</h3>
              <p>If anything went wrong with the migrated data, we will be there to fix it.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="pt32 pb32" data-name="Title">
        <div class="container">
          <div class="row s_nb_column_fixed">
            <div class="col-lg-12 s_title pt16 pb16" style="text-align: center;">
              <h1 class="s_title_default">Easy steps to migrate your DB</h1>
              <br>
            </div>
          </div>
        </div>
      </section>
      <section class="s_process_steps pb24 pt0" data-name="Steps" style="">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-lg-3 s_process_step pt24 pb24">
              <div class="s_process_step_icon">
                <span>
                  </span>
                <span class="fa fa-2x bg-alpha fas fa-upload d-block mx-auto rounded-circle" data-original-title="" title="" aria-describedby="tooltip866846"></span>
                <span>
                </span>
              </div>
              <div class="s_process_step_content text-center">
                <h2>Upload DB</h2>
                <p>Share your old DB with custom modules if exists.</p>
              </div>
            </div>
            <div class="col-lg-3 s_process_step pt24 pb24">
              <div class="s_process_step_icon">
                <span>
                  </span>
                <span class="fa fa-2x mx-auto rounded-circle bg-beta fa-dollar"></span>
                <span>
                </span>
              </div>
              <div class="s_process_step_content text-center">
                <h2>Quotation</h2>
                <p>Get a quotation based on the DB size.</p>
              </div>
            </div>
            <div class="col-lg-3 s_process_step pt24 pb24">
              <div class="s_process_step_icon">
                <span>
                  </span>
                <span class="fa fa-2x mx-auto rounded-circle bg-gamma fa-gears"></span>
                <span>
                </span>
              </div>
              <div class="s_process_step_content text-center">
                <h2>Analysis</h2>
                <p>Understand your DB and your expectations for the new DB</p>
              </div>
            </div>
            <div class="col-lg-3 s_process_step pt24 pb24">
              <div class="s_process_step_icon">
                <span>
                  <i class="fa fa-plane fa-2x mx-auto rounded-circle bg-delta" data-original-title="" title="" aria-describedby="tooltip976300"></i>
                </span>
              </div>
              <div class="s_process_step_content text-center">
                <h2>Get Delivered</h2>
                <p>Deliver the new version of DB for testing until getting the approval for the final version.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      </div>
     
         
<div class="pricing" id="pricing">
      <div class="dots dots-up"></div>
      <div class="dots dots-down"></div>
      <h2 class="main-title">Pricing Plans</h2>
      <div class="container price">
        <div class="box">
          <div class="title">Basic</div>
          <img src="#" alt="" />
          <div class="price">
            <span class="amount">$500</span>
            <span class="time">per Database</span>
          </div>
          <ul>
            <li>DB size < 1M records</li>
            <li>Support 3 Months</li>
            <li>Social logs migration</li>
            <li>Migrate attachments</li>
          </ul>
          <a href="{% url 'contactus' %}#book">Choose Plan</a>
        </div>
        <div class="box popular">
          <div class="label">Most Popular</div>
          <div class="title">Advanced</div>
          <img src="#" alt="" />
          <div class="price">
            <span class="amount">$1,000</span>
            <span class="time">per Database</span>
          </div>
          <ul>
            <li>DB size < 2M records</li>
            <li>Support 3 Months</li>
            <li>Social logs migration</li>
            <li>Migrate attachments</li>
          </ul>
          <a href="{% url 'contactus' %}#book">Choose Plan</a>
        </div>
        <div class="box">
          <div class="title">Professional</div>
          <img src="#" alt="" />
          <div class="price">
            <span class="amount">$1500</span>
            <span class="time">per Database</span>
          </div>
          <ul>
            <li>DB size < 3M records</li>
            <li>Support 3 Months</li>
            <li>Social logs migration</li>
            <li>Migrate attachments</li>
          </ul>
          <a href="{% url 'contactus' %}#book">Choose Plan</a>
        </div>

      </div>
    </div>

        </section>
      </section>
    </div>

  </div>

  
{% endblock content %}