{% extends 'projomania_pages/projomania_base.html' %}
{% load static %}

{% block page_title %}
    Build Odoo APIs
{% endblock %}

{% block header %}

{% endblock %}


{% block content %}
    <div id="page-content" class="index-page">
        <section class="box-content box-4 bg-box-white">
            <div class="no-gutter">
                <div class="col-sm-12">
                    <div class="box-text">
                        <div class="heading center">
                            <h2>Build Odoo APIs</h2>
                            <span>Automate building Odoo APIs for mobile apps and to interface with other services</span>
                        </div>
                        <p class="pull-left">
                            Building APIs for mobile and other service to integrate with Odoo became necessary Building
                            APIs for mobile and other service to integrate with Odoo became necessary
                            Building APIs for mobile and other service to integrate with Odoo became necessary
                            Building APIs for mobile and other service to integrate with Odoo became necessary
                            Building APIs for mobile and other service to integrate with Odoo became necessary
                            Building APIs for mobile and other service to integrate with Odoo became necessary
                            Building APIs for mobile and other service to integrate with Odoo became necessary
                        </p>
                        <br/>
                        <div class="col-md-4 pull-right">
                            <a href="{% url 'apis_dashboard:home' %}" class="btn btn-letter" name="btnSubcribe" id="btnSubcribe">
                                Start a new APIs
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="clear"/>
        </section>
    </div>
{% endblock content %}