<div class="container">
<div class="row">
<div class="row">
<div class="col-sm-12"><p class="alert alert-primary " role="alert">My Tickets </p></div>

</div>
<div class="htmx-indicator">Loading....</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Tickets</th>
      {% comment %} <th scope="col">Content</th> {% endcomment %}
      <th scope="col">Status</th>
      <th scope="col">Last Update</th>
      <th></th>

    </tr>
  </thead>
  <tbody>
  
  {% for x in qs %}
    
      {% if x.issueTitle %}
<tr>
    <th scope="row"><a href="{{ x.get_absolute_url }}">{{ x.issueTitle }}</a>  </th>
    {% comment %} <td>{{ x.issueContent }}</td> {% endcomment %}
    <td>{{ x.status }} </td>
    {{ y }}
    <td>{{ x.updates }}</td>
    <td><a href="{{x.get_update_url}}">Edit</a></td>
</tr>    
  
{% else %}
  <tr>
    <th scope="row"><a href="{{ x.get_absolute_url }}">{{ x.issueTitle }}</a>  </th>
    {% comment %} <td>{{ x.issueContent }}</td> {% endcomment %}
    <td>{{ x.status }}</td>
    <td>{{ x.updates }}</td>
    <td><a href="{{x.get_update_url}}">Edit</a></td>
</tr>    
    {% endif %}
    
    {% comment %} {% if x.status == 'Closed' %}
    <h5><a href="{{ x.get_absolute_url }}">{{ x.issueTitle }}</a> <hr> <span class="bg-success">{{ x.status }}</span></h5>
    <br>
    {% endif %} {% endcomment %}

{% endfor %}
    
  </tbody>
</table>




</div>
</div>