{% load static %}
{% block moreheader %}

{% endblock moreheader %}
<footer id="footer">
  <div class="wrap-footer">
    <div class="no-gutter">
      <div class="col-md-6">
        <div class="box-text">
          <div class="footer-heading">
            <h2>About ProjoMania</h2>
          </div>
          <p>
            We are a team of believers and doers who can get dreams real. With
            Business Consultation at the core, team of passionate people whose
            goal is to improve everyone's life by offering best Business
            Solutions. We build great products to solve your business problems.
            Our team are the most important capital we have.
          </p>
          <br />
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-text">
          <h5>Contact</h5>
          <ul class="quick-link list-group">
            <li><a href="{% url 'contactus' %}">Contact us</a></li>
            <li>
              <i class="fa fa-envelope"></i>
              <span><a href="mailto:info@projomania.com">info@projomania.com</a> </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-text">
          <span>Copyright ©</span> <span itemprop="name">ProjoMania</span>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</footer>
