{% load static %}



   <div class="header" id="header">
      <div class="container">
        {% comment %} <a href="{% url 'homepage' %}" class="logo"><img src="{% static 'images/logo.png' %}" class="logoimage" alt="" /></a> {% endcomment %}
        <ul class="main-nav">
          <li><a href="{% url 'articles' %}">Blogs</a></li>
          <li><a href="{% url 'articles' %}">Errors</a></li>
          <li><a href="{% url 'references' %}">Partners</a></li>
          <li><a href="{% url 'homepage' %}#aboutus">About Us</a></li>
          <li><a href="{% url 'contactus' %}">Contact Us</a></li>
          <li>
            <a href="#">Services</a>
            <!-- Start Megamenu -->
            <div class="mega-menu">
              <div class="image">
                <img src="{% static 'images/a/services.jpg' %}" alt="" />
              </div>
              <ul class="links">
                <li>
                  <a href="{% url 'odoo_database_migration' %}"><i class="far fa-building fa-fw"></i> Odoo Database Migration</a>
                </li>
                <li>
                  <a href="{% url 'odoo_module_development' %}"><i class="far fa-check-circle fa-fw"></i> Odoo Modules Development</a>
                </li>
                <li>
                  <a href="{% url 'odoo_code_upgrading' %}"><i class="far fa-clipboard fa-fw"></i> Odoo Code Upgrading</a>
                </li>
                    <li>
                  <a href="{% url 'linux_administration' %}"><i class="far fa-clipboard fa-fw"></i> Linux Administration</a>
                </li>
              </ul>
              <ul class="links">
                <li>
                  <a href="{% url 'odoo_apis' %}"><i class="far fa-calendar-alt fa-fw"></i> Build Odoo APIs</a>
                </li>
                <li>
                  <a href="{% url 'install_odoo' %}"><i class="fas fa-server fa-fw"></i> Install Odoo Instances</a>
                </li>
                <li>
                  <a href="{% url 'debug_odoo' %}"><i class="far fa-play-circle fa-fw"></i> Debug Odoo Instances</a>
                </li>
                <li>
                  <a href="{% url 'articles' %}"><i class="far fa-chart-bar fa-fw"></i> Blog</a>
                </li>
              </ul>
            </div>
            
            <!-- End Megamenu -->
          </li>
          <li>
            <a href="#"><i class="fas fa-user-circle" style="font-size: 30px;"></i></a>
            <!-- Start Megamenu -->
            <div class="mega-menu">
              <div class="image">
                
                <i class="fas fa-user-circle center" style="font-size: 180px; color:#2aaae6;"></i>
                <h2>{{user.username}}</h2>
              </div>
              <ul class="links">

                {% if request.user.is_authenticated %}
                
                 <li>
                  <a href="/logout"><i class="fas fa-user-plus"></i></i> logout</a>
                </li>
                <li>
                  {% comment %} <a href="{% url 'profile' user.username %}"><i class="fas fa-user-plus"></i> My Profile</a> {% endcomment %}
                  <a href="{% url 'ticketlist' %}"><i class="fas fa-ticket-alt"></i> My Tickets</a>
                </li>
                {% else %}
                <li>
                  <a href="/login"><i class="fas fa-user"></i> login</a>
                </li>
                {% endif %}
             
              </ul>
              {% if not request.user.is_authenticated %}
            <ul class="links">
            
            <li>
                  <a href="/register"><i class="fas fa-user-plus"></i></i> register</a>
                </li></ul>
                {% endif %}
            </div>
            
            <!-- End Megamenu -->
          </li>
        </ul>
      </div>
    </div>
    
    <!-- End Header -->
